.filter{
    background: #f0f0f0;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.filterCard{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
.mychek{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}


.mybtn {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

